<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        {{> header}}

        {{!--  First call is helper, then after it is an parameter to the function--}}
        <p>{{screamIt message}}</p>

        {{!--Syntax for injection "partials", kinda like components  --}}
        {{> footer}}
    </body>
</html>